<div class="custom-sidebar">
    <a href="/" class="menu-link" target="_self">🏠 Home</a>
    <a href="/Document_Contract" class="menu-link" target="_self">📄 Document Contract</a>
  <div class="menu-item has-submenu">
    <span class="menu-title">📁 Daftar Project ▸</span>
    <div class="submenu">
      <a href="/gabung_pdf" target="_self">📎 Gabung PDF</a>
      <a href="/Download_PDF" target="_self">⬇️ Download PDF</a>
    </div>
  </div>
  <a href="/perlengkapan" class="menu-link" target="_self">⬇️ Download Zip</a>
</div>
